<h1>I want to GIVE</h1>


    <h2><%= @page.title %></h2>
<ul>
    <li><%= @page.about %></li>
    <li><%= @page.delivery %></li>
    <li><%= @page.state %></li>
</ul>

<ul>
<li> <%= link_to "Edit", edit_page_path(@page) %> </li>
<li><%= button_to "Destroy", @page, method: :delete %></li>
</ul>
